.greeter {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.greeter__content {
  background: rgba(0, 0, 0, 0.5);
  color: #efefef;
  font-family: "Lato";
  margin: 0 auto;
  max-width: 30rem;
  padding: 2em;
}

.log-in-button {
  background: #249cea;
  border: 0;
  border-radius: 0;
  color: white;
  padding: 0.5em;
  width: 4em;
}

.log-in-button:disabled {
  background: #1a7bbd;
}

.password {
  display: flex;
  margin-bottom: 1em;
}

.password-input {
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-bottom: 0.25em solid white;
  display: block;
  font-size: 1.15rem;
  padding: 0.5em;
  transition: border-color 0.25s ease-in;
}

.password-input:disabled {
  color: #555;
}

.password-input:focus {
  border-bottom-color: #249cea;
}

.password-label {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.user-list {
  list-style: none;
}

.user-list__item:not(:last-child) {
  margin-bottom: 1em;
}

.user__separator {
  opacity: 0.5;
  margin: 0 0.5em;
}

.user__username {
  font-style: italic;
}

.user-list__item-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  /* border: 1px solid rgba(255, 255, 255, 0.75); */
  color: #efefef;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  padding: 0.5em 1em;
  text-align: left;
  transition: background-color 0.25s ease-in;
  width: 100%;
}

.user-list__item-btn:focus,
.user-list__item-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

.user-list__item-btn--active {
  border-bottom: 4px solid #249cea;
  padding-bottom: calc(0.5em - 4px);
}

.user-list__title {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 1em;
}

/* Best guess for HiDPI. */
@media screen and (min-width: 3000px) and (min-height: 1200px) {
  html {
    zoom: 2;
  }
}
